<div class="container">
    <h2>Registrar Conductor</h2>

    <form [formGroup]="capForm" (ngSubmit)="registerCap()" enctype="multipart/form-data">


        <div class="form-group">
            <label for="cedula">cedula</label>
            <input id="cedula" name="cedula" formControlName="cedula" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="primerNombre">primer nombre</label>
            <input id="primerNombre" name="primerNombre" formControlName="primerNombre" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="SegundoNombre">segundo nombre</label>
            <input id="SegundoNombre" name="SegundoNombre" formControlName="SegundoNombre" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="apellidos">apellidos</label>
            <input id="apellidos" name="apellidos" formControlName="apellidos" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="direccion">direccion</label>
            <input id="direccion" name="direccion" formControlName="direccion" type="text"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="telefono">telefono</label>
            <input id="telefono" name="telefono" formControlName="telefono" type="text"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="ciudad">ciudad</label>
            <input id="ciudad" name="ciudad" formControlName="ciudad" type="text"
                class="form-control">
        </div>

        <!-- <div
            *ngIf="!capForm.get('capName').valid || !capForm.get('duration').valid  || !capForm.get('file').valid || !capForm.get('capNumber').valid">
            <div class="text-danger">
                Debes llenar todos los campos
            </div>
        </div> -->

        <div class="text-center">
            <button type="submit" class="btn btn-info"> Enviar </button>
        </div>

    </form>
</div>
