<div class="container">
    <h2>Registrar Vehiculo</h2>

    <form [formGroup]="capForm" (ngSubmit)="registerCap()" enctype="multipart/form-data">

        
        <div class="form-group">
            <label for="placa">Placa</label> <br>
            <input id="placa" name="placa" formControlName="placa" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="color">Color</label> <br>
            <input id="color" name="color" formControlName="color" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="marca">Marca</label> <br>
            <input id="marca" name="marca" formControlName="marca" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="tipoVehiculo">Tipo de vehiculo</label> <br>
            <input id="tipoVehiculo" name="tipoVehiculo" formControlName="tipoVehiculo" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="idConductor">Id conductor</label> <br>
            <input id="idConductor" name="idConductor" formControlName="idConductor" type="text"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="idPropietario">IdPropietario</label> <br>
            <input id="idPropietario" name="idPropietario" formControlName="idPropietario" type="text"
                class="form-control">
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-info">Enviar</button>
        </div>

    </form>
</div>
