<div class="container">
    <h2>Registrar vehiculo</h2>

    <form [formGroup]="capForm" (ngSubmit)="registerCap()" enctype="multipart/form-data">

        
        <div class="form-group">
            <label for="placa">placa</label>
            <input id="placa" name="placa" formControlName="placa" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="color">color</label>
            <input id="color" name="color" formControlName="color" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="marca">marca</label>
            <input id="marca" name="marca" formControlName="marca" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="tipoVehiculo">tipo de vehiculo</label>
            <input id="tipoVehiculo" name="tipoVehiculo" formControlName="tipoVehiculo" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="idConductor">id conductor</label>
            <input id="idConductor" name="idConductor" formControlName="idConductor" type="text"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="idPropietario">idPropietario</label>
            <input id="idPropietario" name="idPropietario" formControlName="idPropietario" type="text"
                class="form-control">
        </div>

        

        <!-- <div
            *ngIf="!capForm.get('capName').valid || !capForm.get('duration').valid  || !capForm.get('file').valid || !capForm.get('capNumber').valid">
            <div class="text-danger">
                Debes llenar todos los campos
            </div>
        </div> -->

        <div class="text-center">
            <button type="submit" class="btn btn-info">Enviar</button>
        </div>

    </form>
</div>
