<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="100" height="100" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" routerLink="/registrarConductor">Registrar conductor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registrarPropietario">Registrar propietario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registrarPropietario">registrar vehiculo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Conductor listado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">propietario listado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">vehiculo listado</a>
            </li>
            

        </ul>
        
        <!-- Este es el else... Se escribe en un template de angular para indicar que si no se cumple la condición anterior, entonces nos muestre este bloque de código -->
        
    </div>
</nav>
